<div class="row">
    <div class="col-md-12">
        <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="2rem" [style.margin-top]="'15px'" fxLayoutAlign="space-evenly stretch">
            <div *ngFor="let book of books">
                <mat-card class="example-card">
                    <img mat-card-image src="\assets\images\got_dragon_512px.png" alt="{{book.name}}">
                    <mat-card-header>
                        <div mat-card-avatar class="example-header-image"></div>
                        <mat-card-title style="line-height: 1.5; height: 3em; overflow: hidden">{{book.name}}
                        </mat-card-title>
                    </mat-card-header>
                </mat-card>
            </div>
        </div>
        <mat-paginator [length]="length" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 25]" (page)="onPaginate($event)">
        </mat-paginator>
        <!--  <app-book></app-book> -->
    </div>
</div>