<app-header></app-header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <mat-tab-group mat-align-tabs="start" dynamicHeight>
                <mat-tab label="Characters">
                    <app-characters></app-characters>
                </mat-tab>
                <mat-tab label="Houses">
                    <app-houses></app-houses>
                </mat-tab>
                <mat-tab label="Books">
                    <app-books></app-books>
                </mat-tab>
            </mat-tab-group>

        </div>
    </div>
</div>