<div class="container-fluid" [style.margin-top]="'15px'">
    <div class="row">
        <div class="col-md-7">
            <div class="row">
                <div class="col-md-12">
                    <div class="bio-image">
                        <img src="\assets\images\got_jon_snow_512px.png" alt="image" />
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="bio-content">
                <h1>Hi there, I'm {{character?.name}} or also known as {{character?.aliases}}</h1>
                <h2>I am {{character?.culture}}. I was born in {{character?.born}}.</h2>
                <p>P.S There is only one thing we say to death: Not today. </p>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-7">
            <hr>
            <div *ngFor="let book of books">
                <a style="cursor: pointer;" [routerLink]="[book.url | id]" class="list-group-item clearfix">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">{{ book.name }}</h4>
                        <p class="list-group-item-text">{{ book.authors }}</p>
                    </div>
                    <span class="pull-right">
                        <!-- <img [src]="" alt="{{ book.name }}" class="img-responsive" style="max-height: 50px;"> -->
                    </span>
                </a>
            </div>
            <hr>
            <div *ngFor="let allegiance of allegiances">
                <a style="cursor: pointer;" [routerLink]="[allegiance.url | id]" class="list-group-item clearfix">
                    <div class="pull-left">
                        <h4 class="list-group-item-heading">{{ allegiance.name }}</h4>
                        <p class="list-group-item-text">{{ allegiance.region }}</p>
                    </div>
                    <span class="pull-right">
                        <!-- <img [src]="" alt="{{ book.name }}" class="img-responsive" style="max-height: 50px;"> -->
                    </span>
                </a>
            </div>

        </div>
        <div class="col-md-5">
            <div class="form-group">
                <label for="email">Culture:</label>
                <p>{{character?.culture}}</p>
            </div>
            <div class="form-group">
                <label for="email">Titles:</label>
                <p>{{character?.titles}}</p>
            </div>
            <div class="form-group">
                <label for="email">Gender:</label>
                <p>{{character?.gender}}</p>
            </div>
            <div class="form-group">
                <label for="email">In Series:</label>
                <p>{{character?.tvSeries}}</p>
            </div>
            <div class="form-group">
                <label for="email">Played By:</label>
                <p>{{character?.playedBy}}</p>
            </div>
        </div>
    </div>
</div>