<div class="row">
    <div class="col-md-12">
        <a href="#" class="list-group-item clearfix" *ngFor="let character of characters">
            <div class="pull-left">
                <h4 class="list-group-item-heading">{{character.aliases}}</h4>
                <p class="list-group-item-text">{{character.culture}}</p>
            </div>
            <span class="pull-left">
                <img src="" class="img-responsive" alt="">
            </span>
        </a>
        <app-character></app-character>
    </div>
</div>